#avviatore  {
}
#Risultati  {
  background-color: #438727;
  width: 45%;
  float:right;
}
div {
  background-color: #4366a0;
  width: 45%;
  float:left ;
}
h2  {
  font-family: 'Droid Sans', sans-serif;
  color:white;

}
button {
   background-color: #a06e43;
   color: white;
   font-size: 18px;
   padding: 12px;
   border: none;
   cursor: pointer;
   font-family: 'Nova Flat', cursive;

}

body  {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-color: #003182;
  color: white;
}

/* Font disponibili:


    font-family: 'Droid Sans', sans-serif;

    font-family: 'Nova Flat', cursive;

    font-family: 'Quicksand', sans-serif;

*/
